# Datasets
data/

# Modelos entrenados
checkpoints/*.pth

# Notebooks
notebooks/

# Entorno Python
__pycache__/
*.pyc
.env
.env.production
.env.local
*.env
.venv/

# Node
node_modules/
frontend/dist/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Archivos temporales
outputs/